@tailwind base;
@tailwind components;
@tailwind utilities;

.fontRubik{
    font-family: Rubik;
}

.header_bg{
    background-image: url("./assets/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.custom_bg{
    background-color: rgba(233, 239, 253, 1);
}

.playbook_bg{
    background-image: url("./assets/playbook-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.workflow_bg{
    background-image: url("./assets/workflow_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


